.container-carousel-showcase {

    padding: 3rem 0;
    background: #9BC9C8;

    .container-images {
        height: 300px;

        .prize-tag-carousel {
            display: flex;
            justify-content: flex;
            align-items: center;
            align-self: center;
            justify-self: flex-end;
    
            font-family: 'HewittBold', sans-serif;
    
            position: relative;
            top: -40px;
            left: 50%;
            
            background: no-repeat url(../../assets/prize-tag.svg);
    
            background-size: 100%;
            width: 80px;
            height: 60px;
    
            div {
                color: #284482;
                position: relative;
                left: 10px;
                top: -2px;
            }
        }
    }

    .product-title-carousel {
        font-family: 'Hewitt';
        color: #434343;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-top: 1.2rem;
    }

    .carousel-title {
        color: #F9F6F1;
        font-size: 2.125rem;
        font-family: 'Hewitt', sans-serif;
        padding: 20px;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }

    .row{
        height: 100px;
    }
    
    .button:hover{
        color: #FFFFFF;
    }
}

@media (min-width: 740px){
    .container-carousel-showcase {
        display: none;
    }
}
